.posts-view {
  position: relative;
  float: left;
  height: fit-content;
}

.post {
  position: relative;
  height: fit-content;
  width: calc(70%);
  margin: 20px 15% 20px 15%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 9;
}

.post-header {
  position: relative;
  height: 50px;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 17px;
}

.post-header-user {
  position: relative;
  float: left;
  height: 100%;
  width: 50%;
  padding: 5px;
}

.post-header-user-profile {
  position: relative;
  float: left;
  height: 100%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.post-header-user-name {
  position: relative;
  float: left;
  top: 50%;
  margin-left: 10px;
  transform: translateY(-50%);
}

.post-header-song {
  position: relative;
  float: right;
  height: 100%;
  width: 50%;
  padding: 5px;
  background-color: rgba(243, 243, 243, 0.25);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  
}

.post-header-song-cover {
  position: relative;
  float: right;
  margin-right: 10px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.post-header-song-name {
  position: relative;
  float: right;
  top: 50%;
  transform: translateY(-50%);
}

.post-body {
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 5px;
  margin: 0px;
  background-color: #191e29;
  color: #f3f3f3;
}

.post-body-message {
  position: relative;
  height: fit-content;
  width: 100%;
  margin: 0px;
}

.post-body-date {
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 20px 0px 0px 0px;
  margin: 0px;
}
