.property {
  position: relative;
  height: 30px;
  width: 100%;
  color: white;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.property-name {
  position: relative;
  float: left;
  z-index: 1;
  width: 35%;
  height: 100%;
  padding: 2px;
  padding-left: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateX(-2px);
  background-color: #f3f3f3;
  color: #191e29;
}

.property-value {
  position: relative;
  float: left;
  z-index: 0;
  width: 65%;
  height: 100%;
  background-color: rgba(243, 243, 243, 0.1);
}

.property-value-text {
  position: relative;
  float: left;
  height: 100%;
  width: fit-content;
  padding: 0px;
  margin: 0px;
}

.property-background {
  position: relative;
  float: left;
  height: 100%;
  width: 7px;
  background-color: rgba(243, 243, 243, 0.1);
  transform: translateX(-7px);
}
