.user-view {
  position: relative;
  height: fit-content;
  width: calc(80%);
  margin: 20px 10% 20px 10%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 9;
}

.user-view-header {
  position: relative;
  height: 50px;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.user-view-header-user {
  position: relative;
  float: left;
  height: 100%;
  width: 50%;
  padding: 5px;
}

.user-view-profile {
  position: relative;
  float: left;
  height: 100%;
  border-radius: 50%;
  background-color: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.user-view-username {
  position: relative;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  font-size: 17px;
}

.user-view-username-input {
  position: relative;
  float: left;
  height: 100%;
  width: calc(100% - 50px);
  margin-left: 10px;
  font-size: 17px;
}

.user-view-body {
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: #191e29;
}

.user-view-big-spacing {
  height: 20px;
  background-color: #191e29;
}

.user-view-small-spacing {
  height: 5px;
  background-color: #191e29;
}

.save-input {
  text-align: center;
  height: 30px;
  margin: 0px;
  font-size: 17px;
  color: #191e29;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.property {
  position: relative;
  height: 30px;
  width: 100%;
  color: white;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.property-name {
  position: relative;
  float: left;
  z-index: 1;
  width: 35%;
  height: 100%;
  padding: 2px;
  padding-left: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateX(-2px);
  background-color: #f3f3f3;
  color: #191e29;
}

.property-value {
  position: relative;
  float: left;
  z-index: 0;
  width: 65%;
  height: 100%;
  background-color: rgba(243, 243, 243, 0.1);
}

.property-value-text {
  position: relative;
  float: left;
  height: 100%;
  width: fit-content;
  padding: 0px;
  margin: 0px;
}

.property-background {
  position: relative;
  float: left;
  height: 100%;
  width: 7px;
  background-color: rgba(243, 243, 243, 0.1);
  transform: translateX(-7px);
}

.user-delete {
  position: relative;
  height: 40px;
  width: calc(80%);
  margin: 20px 10% 20px 10%;
  border: 2px solid #191e29;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: red;
  font-size: 17px;
  z-index: 9;
  cursor: pointer;
}

.user-delete:hover {
  background-color: rgb(185, 0, 0);
}

#user-delete-text {
  position: relative;
  text-align: center;
  height: fit-content;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.song {
  position: relative;
  height: fit-content;
  width: calc(80%);
  margin: 20px 10% 20px 10%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 9;
}

.song-header {
  position: relative;
  height: 50px;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 17px;
  overflow: hidden;
}

.song-header-information {
  position: relative;
  float: left;
  height: 100%;
  width: 70%;
  padding: 5px;
}

.song-header-information-cover {
  position: relative;
  float: left;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.song-header-information-name {
  position: relative;
  float: left;
  top: 50%;
  margin-left: 10px;
  transform: translateY(-50%);
  font-size: 14px;
}

.song-header-options {
  position: relative;
  float: right;
  height: 100%;
  width: 30%;
  padding: 5px;
  background-color: rgba(243, 243, 243, 0.25);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;

}

.song-header-options-delete {
  position: relative;
  float: right;
  height: fit-content;
  width: fit-content;
  padding: 0px 2px;
  border: 2px solid #191e29;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.song-header-options-delete:hover {
  background-color: rgba(243, 243, 243, 0.25);
}

.song-header-options-delete:active {
  background-color: rgba(0, 0, 0, 0);
}

.song-body {
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 5px;
  margin: 0px;
  background-color: #191e29;
  color: #f3f3f3;
}

.song-body-description {
  position: relative;
  height: fit-content;
  width: 100%;
  margin: 0px;
}
