.user-options {
  position: relative;
  float: right;
  height: 100%;
  width: 50%;
  padding: 5px;
  background-color: rgba(243, 243, 243, 0.25);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.user-options-item {
  position: relative;
  float: right;
  height: fit-content;
  width: fit-content;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
  padding: 0px 2px;
  border: 2px solid #191e29;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.user-options-item:hover {
  background-color: rgba(243, 243, 243, 0.25);
}
